[run]
source = core
omit =
    */migrations/*
    */tests/*
    */__pycache__/*
    */venv/*
    */env/*
    */.venv/*
    */admin.py
    */apps.py

[report]
precision = 2
show_missing = True
skip_covered = False

exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

[html]
directory = htmlcov

[xml]
output = coverage.xml
